<li class="divider"></li>
<li class="nav-title">Cadastro</li>
<li class="nav-item">
  <%= link_cadastro_to 'Clientes', cadastro_clientes_path, class: 'nav-link' %>
</li>

<li class="nav-item">
  <%= link_cadastro_to 'Fornecedores', cadastro_fornecedores_path, class: 'nav-link' %>
</li>
