<div class="row">
  <div class="col-lg-12">
    <div class="card">
      <div class="card-header">
        <%= fa_tag 'fa fa-pencil-square-o' %>
        Editando<strong>Calendário</strong>
      </div>

      <div class="card-block">
        <%= render 'form' %>
      </div>
    </div>
  </div>
</div>
