<% provide(:url, tiktak_calendarios_path(cal_tipo: params[:cal_tipo])) %>
<% provide(:search_field, :referencia_cont) %>
<% provide(:placeholder, 'Referência') %>

<div class="row">
  <div class="col-lg-12">
    <div class="card">
      <div class="card-header">
        <%= fa_tag 'fa fa-align-justify' %>
        Tiktak<strong>Calendários</strong>
      </div>

      <div class="card-block">
        <div class="row">
          <div class="col-sm-4">
            <%= render 'shared/search_form' %>
          </div>

          <% if logged_in? %>
            <div class="col-sm-8 text-right">
              <%= link_to 'Novo Calendário',
                          new_tiktak_calendario_path,
                          class: 'btn btn-success' %>
            </div>
          <% end %>
        </div>

        <div id="tiktak-calendarios-tableview">
          <%= render 'table' %>
        </div>
      </div>
    </div>
  </div>
</div>
