<p id="notice"><%= notice %></p>
<p>
  <b>Nome:</b>
  <%= @cliente.nome %>
</p>

<%= link_to 'Editar', edit_cadastro_cliente_path(@cliente) %>
<%= link_to 'Remover', cadastro_clientes_path(@cliente), method: :delete, data: { confirm: 'Certeza?' } %>
