<% provide(:url, cadastro_clientes_path) %>
<% provide(:search_field, :nome_or_razao_social_cont) %>
<% provide(:placeholder, 'Nome ou Razão Social') %>

<div class="row">
  <div class="col-lg-12">
    <div class="card">
      <div class="card-header">
        <%= fa_tag 'fa fa-align-justify' %>
        Cadastro<strong>Clientes</strong>
      </div>

      <div class="card-block">
        <div class="row">
          <div class="col-sm-4">
            <%= render 'shared/search_form' %>
          </div>
          <div class="col-sm-8 text-right">
            <%= link_to 'Novo Cliente',
                        new_cadastro_cliente_path,
                        remote: true,
                        class: 'btn btn-success' %>
          </div>
        </div>

        <div id="cli-tableview">
          <%= render 'table' %>
        </div>
      </div>
    </div>
  </div>
</div>

