<%= search_form_for @search, remote: true,
                    url: yield(:url), method: :get, class: 'form-horizontal' do |f| %>
  <div class="form-group row">
    <div class="col-md-12">
      <div class="input-group">
        <%= f.search_field yield(:search_field),
                           placeholder: yield(:placeholder),
                           class: 'form-control'%>

        <div class="btn-group">
          <%= f.button '', class: 'btn btn-primary' do %>
            <i class="fa fa-search"></i>
          <% end %>
          <%= link_to '', request.path,
                      remote: true,
                      id: 'clear-searchfield',
                      class: 'fa fa-times btn btn-danger' %>
        </div>
        <!-- /.input-group-btn -->
      </div>
      <!-- /.input-group -->
    </div>
  </div>
<% end %>
