<h1>Blanquetas</h1>

<%= form_tag '/estoque/blanquetas', method: :get, id: 'estoque_search', class: 'form-inline' do %>
  <p>
    <%= text_field_tag :search, params[:search], class: "form-control" %>
    <%= submit_tag "Procurar", name: nil, class: 'btn-info' %>
  </p>
<% end %>

<div id="estoque"><%= render 'all' %></div>
