<div class="row justify-content-center">
  <div class="col-md-6">
    <div class="clearfix">
      <h1 class="float-left display-3 mr-2">404</h1>
      <h4 class="pt-1">Oops! Você está perdido.</h4>
      <p>A página que você procura não foi encontrada.</p>
    </div>
  </div>
</div>
