<% provide(:url, financeiro_depositos_path) %>
<% provide(:search_field, :titular_cont) %>
<% provide(:placeholder, 'Titular') %>

<div class="row">
  <div class="col-lg-12">
    <div class="card">
      <div class="card-header">
        <%= fa_tag 'fa fa-align-justify' %>
        Financeiro<strong>Depósitos</strong>
      </div>

      <div class="card-block">
        <div class="row">
          <div class="col-sm-4">
            <%= render 'shared/search_form' %>
          </div>
          <div class="col-sm-8 text-right">
            <%= link_to 'Novo Depósito',
                        new_financeiro_deposito_path,
                        class: 'btn btn-success' %>
          </div>
        </div>

        <div id="dpo-tableview">
          <%= render 'table' %>
        </div>
      </div>
    </div>
  </div>
</div>
