a.sort_link
  // color: #4dbd74 !important

label
  font-weight: 500

.modal-body
  padding: 30px !important

.modal-title
  font-weight: 400 !important

select.form-control
  border: 1px solid rgba(0, 0, 0, 0.15) !important
  border-radius: 0.25rem !important
