$bgDefault      : #006437
$bgHighlight    : #00522d
$bgActive       : #003d22
$colHighlight   : #00a35a

/*
 * padding for navbar and sidebar
 */
body
  padding-top: 50px

  &.logged-in
    padding-left: 65px

/*
 * custom classes
 */
.row-margin
  margin-top: 20px

.no-underline
  text-decoration: none !important

.table-borderless
  td, th
    border: 0 !important

.form-no-margin
  margin: 0 !important
  padding: 0 !important

.no-border
  border: 0
  box-shadow: none
  background: transparent

.title-case
  text-transform: capitalize

/*
 * custmomize theme color
 */
a
  color: $bgDefault
  text-decoration: none

  &:hover, &:focus
    color: $bgHighlight

.modal-backdrop
  background-color: #00140b !important
  opacity: 0.8 !important

/*
 * btn-primary
 */
.btn-primary
  color: white
  background-color: $bgDefault
  border-color: $bgHighlight

  &:hover, &:focus, &.focus
    background-color: $bgHighlight
    border-color: $bgHighlight

  &:active, &.active
    background-color: $bgActive
    border-color: $bgActive

  &:active:hover
    background-color: $bgActive
    border-color: $bgActive

  &:active:hover, &.active:hover,
  &:active:focus, &.active:focus,
  &:active.focus, &.active.focus
    color: white
    background-color: $bgActive
    border-color: $bgActive

  &.disabled:hover, &[disabled]:hover,
  &.disabled:focus, &[disabled]:focus,
  &.disabled.focus, &[disabled].focus
    color: white
    background-color: $bgActive
    border-color: $bgActive

/*
 * btn-link
 */
.btn-link
  color: $bgDefault

  &:hover, &:focus, &.focus
    color: $bgHighlight

.open
  >
    .dropdown-toggle.btn-primary,
    .dropdown-toggle.btn-primary:hover,
    .dropdown-toggle.btn-primary:focus,
    .dropdown-toggle.btn-primary.focus
      color: white
      background-color: $bgActive
      border-color: $bgActive

.dropdown-menu >
  li > a
    &:hover, &:focus
      text-decoration: none
      color: #ffffff
      background-color: $bgDefault

  .active > a
    color: #ffffff
    text-decoration: none
    outline: 0
    background-color: $bgDefault

    &:hover, &:focus
      color: #ffffff
      text-decoration: none
      outline: 0
      background-color: $bgDefault

/*
 *  pagination
 */
.pagination > li >
  a, span
    color: $bgDefault
  a:hover, span:hover, a:focus, span:focus
    color: $bgDefault

/*
 *  nav-pills
 */
.nav-pills > li.active > a
  color: white
  background-color: #772953
  border-color: #772953

  &:focus
    background-color: #772953
    border-color: #772953

  &:hover
    color: white
    background-color: #511c39
    border-color: #491933
