html
  font-family: 'Open Sans', sans-serif !important

body
  font-family: 'Open Sans', sans-serif !important

.modal-body
  padding: 30px !important

.modal-title
  font-weight: 400 !important

.app-header.navbar
  .navbar-brand
    width: 250px
    background-image: url(asset-path("logo.png")) !important
    background-size: 140px auto !important
    background-color: #4dbd74
    border-bottom: 1px solid #4dbd74

.bootstrap-filestyle
  > input
    height: 35px !important

.form-control
  color: #3d3f42 !important

.text-muted
  color: #A8ADB3 !important

.navbar-nav
  .nav-link
    color: #BEC1C6 !important

  &:focus, &:hover
    color: black !important

  /*
   *  drowdown
   */
.dropdown-menu
  color: white !important
  background-color: #4dbd74 !important
  border-color: #42B36A !important
  -webkit-box-shadow: 0px 5px 50px 0px rgba(170,170,170,1)
  -moz-box-shadow: 0px 5px 50px 0px rgba(170,170,170,1)
  box-shadow: 0px 5px 50px 0px rgba(170,170,170,1)

.dropdown-header
  color: #379558 !important
  background-color: #42B36A !important
  border-bottom-color: #42B36A !important

.dropdown-item
  color: white !important
  border-color: #42B36A !important

  &:focus, &:hover
    background-color: #42B36A !important

  &.active, &:active
    color: white !important
    background-color: #3DA461 !important
