<li class="divider"></li>
<li class="nav-title">Grafiara</li>

<li class="nav-item">
  <%= link_grafiara_to 'Calendários', grafiara_calendarios_path, class: 'nav-link' %>
</li>

<li class="nav-item nav-dropdown">
  <%= link_grafiara_to 'Convites', '#', class: 'nav-link nav-dropdown-toggle' %>

  <ul class="nav-dropdown-items">
    <li class="nav-item">
      <%= link_grafiara_to 'Aniversário', grafiara_aniversarios_path,
                  class: 'nav-link' %>
    </li>
  </ul>

  <ul class="nav-dropdown-items">
    <li class="nav-item">
      <%= link_grafiara_to 'Casamento', grafiara_casamentos_path,
                  class: 'nav-link' %>
    </li>
  </ul>
</li>
