<nav class="sidebar-nav open">
  <ul class="nav">
    <li class="divider"></li>

    <li class="nav-item">
      <%= link_to '#', class: 'nav-link' do %>
        <i class="icon-speedometer"></i>Dashboard
      <% end %>
    </li>

    <%= render 'estoque/sidebar' %>

    <% if logged_in? %>
      <%= render 'cadastro/sidebar' %>
      <%= render 'financeiro/sidebar' %>
    <% end %>
  </ul>
</nav>
