<nav class="sidebar-nav open">
  <ul class="nav">
    <li class="divider"></li>

    <li class="nav-item">
      <%= link_to 'Dashboard', '#', class: 'nav-link' %>
    </li>

    <%= yield :sidebar %>
  </ul>
</nav>
